body{
    background-color: #b1adada9;
}
*{
    padding: 0px;
    margin: 0px;
}
.nav-belt{
 height: 55px;
 background-color: #131921;
 width: 100%;
 display: flex;
 padding-top: 2px;
 margin: 0;
}
/* logo */
.logo{
    
    height: 45px;
    width:  102px;
    padding-top: 2px;
    margin-left: 11px ;
    border: 1px solid transparent;
}
.logo:hover{
    border: 1px solid white;
    border-radius: 5px ;
    
}
.image{
    height: 55px ;
   
    margin-bottom: 2px;
    width: 110px;
}
/* box2 */
.deliver{
    /* sabke liye */
    margin-left: 2px;
    height: 45px;
   
    width: 140px;
    border: 1px solid transparent;
    padding-top: 2px;
    /* sabke ke liye */
    display:flex;

}
.deliver:hover{
    border: 1px solid white;
    border-radius: 5px ;
}
.mapicon{
    height:18px;
    width: 15px;
    margin: 8px;
    margin-top:20px;
    margin-right: 0;
}

.del{
    margin-top: 8px;
    padding: 0;
}
p{
    margin: 0px;
    
 font-size: small;
    color: #ccc;
}
h4{
    margin: 0px;
    color: white;

}
/* searchbox */ 
.search{
    display: flex;
       margin-left: 10px;
    margin-right: 10px;
    background-color:  transparent;
    padding-top: 10px;
    padding-bottom: 10px;
     width: 670px;
    height: auto;
 
}


 .selectbar{
    width: 52px;
    height: 40px;
    
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(172, 166, 166);
}
.selectbar:hover{
    background-color: #494545;
    
}
.selectbar:focus{
 border: 1px solid orange ;  
  outline: none;
    border-radius: 5px;
}
.searchbar{
    background-color: white;
    width: 573px;
    height: 39x;
}
.inputsearch{
  padding-left: 5px;
    padding-right: 10px ;
    width: 100%;
    border: none;
    height: 40px;
    font-size: large;
}
.inputsearch:focus{
    outline: none;
}
.searchButton{
    background-color: orange;
    height: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left:5px;
    margin: 0px;
    cursor: pointer;
    border: 1px black;
    border-radius: 0px 5px 5px 0px ;
}
.searchicon{
    align-items: center;
    
    width:40px;
    margin: 5px;
    padding: 0;
}
/* language */
.language{
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 5px;
    margin-left: 1px;
    height: 35px;
    width: 60px;
    display: flex;
}
.language:hover{
    border: 1px solid white;
    border-radius: 5px ;
}
#en{
background-color: transparent;
    height: 30px;
    width: 40px;
    margin-top: 7px;
    border: none;
    color: #ccc     ;
}
#en:focus{
    outline: none;
}
.en{
    color: white;
}
.flag{
   margin-top: 3px;
   /* height: 40px;
   width: 400px; */
}
/* Account */
.account{
    width: 113px;
    height: 30px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 2px;
    padding-bottom: 10px;
    padding-top: 10px ;
}
.account:hover{
    border: 1px solid white;
    border-radius: 5px ;
}
.hello{
    margin-left: 4px;
}
.accountdropdownmenu{
    background-color: transparent;
    border: none;
    margin-right: 0px;
    padding-right:  5px;
    color: white;
}
.accountdropdownmenu:focus{
    outline: none;
}
/* returns and order */
.return{
    width: 60px;
    height: 30px;
    padding: 10px 9px;
    margin-left: 10px;
    
}
.return:hover{
    border: 1px solid white;
    border-radius: 5px ;
}

.returnp{
    margin: 0px;
}
.orders{
    font-size: small;
    color: white;
    margin:0px;
}
/* cart */
.cart{
    margin-left: 11px;
    margin-right: 10px;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 11px;
        height: 39px;
        width: 64px;
    display: flex;
}
.cart:hover{
    border: 1px solid white;
    border-radius: 5px ;
}
.carticon{
    margin-top: 20px;
    height: 40px;
    
}
.cartword{
    color: white;
    margin-top: 18px;
}
/* navbar2 */
.nav-barleft-2{
    height: 45px;
    background-color: #131921;
    width: 100%;
    display: flex;
    width: 39;
    opacity: 90%;
}
/* all2 */
.all2{
    margin: 2px;
}
.all2:hover{
    border: 1px solid white ;
    border-radius: 5px ;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(7, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(206, 199, 199);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* todays */
  .todays{
    margin-left: 5px;
    padding: 9px 8px;
    color: white;
    height: 24px;
    width: 80px;
  }
  .todaysdeal{
    margin-top: 5px;
    padding: 0px;
   text-align: center;
    font-size: 15px;
  }
  .todays:hover{
    border : 1px solid white;
    border-radius: 5px ;
  }
  .custom{
    margin-left: 5px;
    padding-top:9px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    height: 24px;
    width: 120px;
  }
  .custom:hover{
    border : 1px solid white;
    border-radius: 5px ;
  }
  .registory{
    margin-left: 5px;
    padding: 9px 8px;
    color: white;
    height: 24px;
    width: 70px;
  }
  .registory:hover{
    border : 1px solid white;
    border-radius: 5px ;
  }
  .Gift{
    margin-left: 5px;
    padding: 9px 8px;
    color: white;
    height: 24px;
    width: 70px;
  }
  .Gift:hover{
    border: 1px solid white;
    border-radius: 5px ;
  }
  .sale{
    margin-left: 5px;
    padding: 9px 8px;
    color: white;
    height: 24px;
    width: 30px;
  }
  .sale:hover{
    border : 1px solid white;
    border-radius: 5px ;
  }
  .shop{
    margin-top: 5px;
    margin-left: 600px;
    padding: 4px 4px;
    color: white;
    height: 24px;
    width: 200px;
  }
  .shop:hover{
    border: 1px solid white;
    border-radius: 5px ;
  }
  
  .hero{
    background-image: url(images/hero3up.jpg);
  
   height: 100%;
    width:  100%;
    background-size: cover;
   display: flex;
    flex-direction: column;
  margin: 0;
  height: 50%;
}
.hero2{
    background-image: url(images/hero2\ up.jpg);
}
.button{
    display:flex;
    justify-content: space-between;
}
.button-left{
    
    width: 65px;
    height: 140px;
    background-color:   transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    
}

.button-left:hover{
    border: 1px solid transparent;
}
.button-right{
    
    width: 65px;
    height: 140px;
    background-color:   transparent;
    cursor: pointer;
    display: flex;
   align-self: flex-end;
    justify-content: center;
    padding-top: 90px;

}
.button-right:hover{
    border: 1px solid transparent;
}

.subhero{
  
    background-color: #f5f6f6;
    height: 20px;
    width: 80%;
    align-self: center;
    margin-top: 40px;
    margin-right: 0px;
    
}
.carddiv{
    display: flex;
    width: 100%;
    background-image: url(images/hero3down.jpg);
    
    background-size: cover;
    height: 290px;
}

.herodown2{
    background-image: url(images/hero2down\ \(2\).jpg); 
}
.cards{
    display: flex;
    padding: 20px;
    width: 100%;
}
.subcards{
    border: 1px solid   transparent;
    width:25%;
    height: 350px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}
.heading{
    color: rgb(2, 2, 2);
    font-size: x-large;
}
.imagesection{
    display :flex;
    flex-wrap: wrap;
   width: 284.58px;
   height: 300px;
   margin-bottom: 10px;
   margin-top: 10px;
}
.smallboximage{
    height: 120px;
    width: 120px;
    margin: 5px;
}

.one{
    background-image: url(images/box5_image.jpg);
    background-size: cover;
}
.two{
    background-image: url(images/box10_image.jpg);
    background-size: cover;
}
.productname{
    font-size: medium;
    color: black;
}
a{
    text-decoration: none;
}
.site:hover{
    color: yellow;
}
.back{
    background-color: #131921;
    width: 100%;
    height: 40px;
    margin-top:135px;
    cursor: pointer;
    opacity: 90%;
}
.back:hover{
    opacity: 80%;
}
.footer{
    background-color: #131921;
    width: 100%;
    height: 400px;
   display: flex;
   justify-content: space-evenly;
    padding-top: 50px;
}
.realp{
    font-size:  large;
    padding: 5px;
}
.p{
    margin-top: 10px;
    
    
}
.subfooter{
    margin-left: 5px;
}